[submodule "grammars/metanorma-requirements-models"]
	path = grammars/metanorma-requirements-models
	url = https://github.com/metanorma/metanorma-requirements-models.git
[submodule "grammars/relaton-models"]
	path = grammars/relaton-models
	url = https://github.com/metanorma/relaton-models.git
[submodule "grammars/basicdoc-models"]
	path = grammars/basicdoc-models
	url = https://github.com/metanorma/basicdoc-models.git
[submodule "grammars/relaton-model-ieee"]
	path = grammars/relaton-model-ieee
	url = https://github.com/relaton/relaton-model-ieee.git
[submodule "grammars/relaton-model-iso"]
	path = grammars/relaton-model-iso
	url = https://github.com/relaton/relaton-model-iso
[submodule "grammars/relaton-model-iec"]
	path = grammars/relaton-model-iec
	url = https://github.com/relaton/relaton-model-iec
[submodule "grammars/relaton-model-gb"]
	path = grammars/relaton-model-gb
	url = https://github.com/relaton/relaton-model-gb
[submodule "grammars/relaton-model-mpfa"]
	path = grammars/relaton-model-mpfa
	url = https://github.com/relaton/relaton-model-mpfa
[submodule "grammars/relaton-model-bipm"]
	path = grammars/relaton-model-bipm
	url = https://github.com/relaton/relaton-model-bipm
[submodule "grammars/relaton-model-w3c"]
	path = grammars/relaton-model-w3c
	url = https://github.com/relaton/relaton-model-w3c
[submodule "grammars/relaton-model-3gpp"]
	path = grammars/relaton-model-3gpp
	url = https://github.com/relaton/relaton-model-3gpp
[submodule "grammars/relaton-model-csa"]
	path = grammars/relaton-model-csa
	url = https://github.com/relaton/relaton-model-csa
[submodule "grammars/relaton-model-cc"]
	path = grammars/relaton-model-cc
	url = https://github.com/relaton/relaton-model-cc
[submodule "grammars/relaton-model-ietf"]
	path = grammars/relaton-model-ietf
	url = https://github.com/relaton/relaton-model-ietf
[submodule "grammars/relaton-model-iho"]
	path = grammars/relaton-model-iho
	url = https://github.com/relaton/relaton-model-iho
[submodule "grammars/relaton-model-itu"]
	path = grammars/relaton-model-itu
	url = https://github.com/relaton/relaton-model-itu
[submodule "grammars/relaton-model-nist"]
	path = grammars/relaton-model-nist
	url = https://github.com/relaton/relaton-model-nist
[submodule "grammars/relaton-model-ribose"]
	path = grammars/relaton-model-ribose
	url = https://github.com/relaton/relaton-model-ribose
[submodule "grammars/relaton-model-ogc"]
	path = grammars/relaton-model-ogc
	url = https://github.com/relaton/relaton-model-ogc
[submodule "grammars/relaton-model-un"]
	path = grammars/relaton-model-un
	url = https://github.com/relaton/relaton-model-un
[submodule "grammars/relaton-model-cen"]
	path = grammars/relaton-model-cen
	url = https://github.com/relaton/relaton-model-cen.git
[submodule "grammars/relaton-model-omg"]
	path = grammars/relaton-model-omg
	url = https://github.com/relaton/relaton-model-omg.git
[submodule "grammars/relaton-model-iana"]
	path = grammars/relaton-model-iana
	url = https://github.com/relaton/relaton-model-iana.git
[submodule "grammars/relaton-model-ecma"]
	path = grammars/relaton-model-ecma
	url = https://github.com/relaton/relaton-model-ecma.git
[submodule "grammars/relaton-model-cie"]
	path = grammars/relaton-model-cie
	url = https://github.com/relaton/relaton-model-cie.git
[submodule "grammars/relaton-model-oasis"]
	path = grammars/relaton-model-oasis
	url = https://github.com/relaton/relaton-model-oasis.git
