[submodule "grammars/metanorma-requirements-models"]
	path = grammars/metanorma-requirements-models
	url = https://github.com/metanorma/metanorma-requirements-models.git
[submodule "grammars/relaton-models"]
	path = grammars/relaton-models
	url = https://github.com/metanorma/relaton-models.git
[submodule "grammars/basicdoc-models"]
	path = grammars/basicdoc-models
	url = https://github.com/metanorma/basicdoc-models.git
[submodule "grammars/relaton-model-ieee"]
	path = grammars/relaton-model-ieee
	url = https://github.com/relaton/relaton-model-ieee.git
[submodule "grammars/relaton-model-iso"]
	path = grammars/relaton-model-iso
	url = https://github.com/relaton/relaton-model-iso
[submodule "grammars/relaton-model-iec"]
	path = grammars/relaton-model-iec
	url = https://github.com/relaton/relaton-model-iec
