[submodule "grammars/metanorma-requirements-models"]
	path = grammars/metanorma-requirements-models
	url = https://github.com/metanorma/metanorma-requirements-models.git
[submodule "grammars/relaton-models"]
	path = grammars/relaton-models
	url = https://github.com/metanorma/relaton-models.git
[submodule "grammars/basicdoc-models"]
	path = grammars/basicdoc-models
	url = https://github.com/metanorma/basicdoc-models.git
